<!DOCTYPE html>



<html lang="en" xmlns:th="http://www.thymeleaf.org">







<head>


<meta charset="utf-8"></meta>



<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>



<meta name="viewport" content="width=device-width, initial-scale=1"></meta>



<link rel="icon" href="favicon.ico" sizes="16x16" type="image/png"></link>



<title>Dev Center - CloudScaleQA</title>



<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
	rel="stylesheet"></link>





<link rel="stylesheet" href="assets/css/jquery.fancybox.css"></link>

<link rel="stylesheet" href="assets/css/main.css"></link>



<!--[if lt IE 9]>



      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>



      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



    <![endif]-->

<script src="https://use.fontawesome.com/16c2dd0d8a.js"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoadGoogle"></script>
<script src="Scripts/loginscript.js"></script>


</head>







<body>



	<header>



		<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix"
			data-offset-top="205">



			<div class="container">



				<div class="navbar-header">



					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navbar1">



						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>



					</button>



					<a target="_blank" href="https://www.cloudscaleqa.com"
						class="navbar-brand"> <img src="assets/images/logo.png"></img>
					</a>




				</div>




				<div class="collapse navbar-collapse navbar-right" id="navbar1">



					<div class="nav navbar-nav menu-container">
						<div class="menu">
							<ul>
								<!-- 								<li><a href="about.html">About</a></li>
								<li><a href="#">Our Services</a>
									<ul>
										<li>
											<ul>
												<li><a href="test-strategy.html">Test Strategy</a></li>
												<li><a href="functional-testing.html">Functional
														Testing</a></li>
												<li><a href="agile-testing.html">Agile Testing</a></li>
												<li><a href="accessibility-testing.html">Accessibility
														Testing</a></li>
											</ul>
										</li>
										<li>
											<ul>
												<li><a href="test-automation.html">Test Automation</a></li>
												<li><a href="api-testing.html">API Testing</a></li>
												<li><a href="mobility-testing.html">Mobility
														Testing</a></li>
												<li><a href="performance-testing.html">Performance
														Testing</a></li>
											</ul>
										</li>
										<li>
											<ul>
												<li><a href="security-testing.html">Security
														Testing</a></li>
												<li><a href="dwh-etl-testing.html">DWH and ETL
														Testing</a></li>
												<li><a href="iot-testing.html">IOT Testing</a></li>
												<li><a href="digital-assurance.html">Digital
														Assurance</a></li>
											</ul>
										</li>
										<li>
											<ul>
												<li><a href="sdet-talent.html">SDET Talent</a></li>
												<li><a href="liquid-qa-workforce.html">Liquid QA
														Workforce</a></li>
											</ul>
										</li>
									</ul></li>
								<li><a href="our-edge.html">Our Edge</a></li>
								<li><a href="#">DIY Assessment</a>
									<ul>
										<li><a href="reports-suitability-analysis.html">Portfolio
												Analysis</a></li>
										<li><a href="reports-roi.html">ROI Analysis</a></li>
										<li><a href="reports-gap-analysis.html">Gap Analysis</a></li>
										<li><a href="reports-automation-tool.html">Automation</a></li>
									</ul></li> -->
								<li class="active"><a style="cursor: pointer;"
									onclick="devcenter()">Dev Center</a></li>
								<li><a target="_blank"
									href="https://medium.com/cloudscaleqa">Blog</a></li>
								<li><a href="about-loop.html">About Loop</a></li>
								<li><a id="loginbtn" style="display: none;"
									data-fancybox="group" data-width="600px" data-type="ajax"
									data-src="login-signup-modal.html" href="javascript:;"
									class="btn btn-custom btn-inverse fancy-popup">Login</a></li>
								<li id="logoutbtn" style="display: none;"><a
									data-width="600px"
									class="btn btn-custom btn-inverse fancy-popup"
									onclick="logout()">Logout</a></li>
								<!-- <li><a data-width="600px" data-type="ajax"
									data-src="login-signup-modal.html" href="javascript:;"
									class="btn btn-custom btn-inverse fancy-popup">Login</a></li> -->
							</ul>
						</div>
					</div>




				</div>




			</div>


























































		</nav>




	</header>




	<section class="banner dev-banner custom-tool-banner">




		<div class="container">




			<div class="row">




				<div class="col-md-12">




					<div class="outer">




						<div class="inner">

							<h2 class="wow fadeInUp">
								Get your recommendation on <span class="b-font-bold">
									Custom Tool Set for test automation</span>
							</h2>


							<div class="analysis-btn wow fadeInUp">

								<a href="automation-tool.html" class="btn btn-primary get-btn">
									Take the assessment now </a>

							</div>

						</div>





					</div>




				</div>





			</div>




		</div>




	</section>



	<section class="about-us home">

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="about-text-small r1 wow fadeInUp">

						<p align="center">
							As a next-generation, ahead-of-the-curve and robust
							continuous-testing-enablement platform, <b>LOOP</b> is equipping
							many enterprises as they succeed to achieve seamless integration
							with CI/CD/DevOps ecosystems while arming their agile teams with
							a new found speed and flexibility.
						</p>



					</div>

					<div class="about-text-small r1 wow fadeInUp">
						<center>
							<img src='assets/images/loop_overview.png' width="100%"></img>
						</center>


					</div>


				</div>

			</div>

		</div>

	</section>



	<section class="resources-tool-section">

		<div class="container">
			<div class="row">














				<div class="col-md-12">

					<div class="resources-tool-title wow fadeInUp">Resources
						&amp; Tool Kit</div>

				</div>

			</div>
			<div th:each="rownum : ${rows}">
				<div class="row">

					<div class="col-md-4"
						th:if="${null!=toolGrpAssoService.getName(rownum,1,allData)}">

						<div class="dev-resources-blk wow fadeInUp">

							<div class="resources-m-title">

								<span class="res-img"> <img
									th:src="${ toolGrpAssoService.getImgsrc(rownum,1,allData)}"
									class="svgImage" alt=""></img>

								</span> <span
									th:text="${ toolGrpAssoService.getName(rownum,1,allData)}"
									class="res-m-title"> </span>

							</div>

							<div class="res-m-list">

								<ul
									th:each=" tool :${toolGrpAssoService.getTools(rownum,1,allData)}"
									class="resources-list">

									<li><a th:href="${tool.pageLink}"><span
											th:text="${tool.name}"> </span> <span class="next-icon">

												<img src="assets/images/dev-center/next.png" alt=""></img>

										</span> </a></li>





								</ul>

							</div>

						</div>

					</div>

					<div class="col-md-4"
						th:if="${null!=toolGrpAssoService.getName(rownum,2,allData)}">

						<div class="dev-resources-blk wow fadeInUp">

							<div class="resources-m-title">

								<span class="res-img"> <img
									th:src="${ toolGrpAssoService.getImgsrc(rownum,2,allData)}"
									class="svgImage" alt=""></img>

								</span> <span
									th:text="${ toolGrpAssoService.getName(rownum,2,allData)}"
									class="res-m-title"> </span>

							</div>

							<div class="res-m-list">

								<ul
									th:each=" tool :${toolGrpAssoService.getTools(rownum,2,allData)}"
									class="resources-list">

									<li><a th:href="${tool.pageLink}"><span
											th:text="${tool.name}"> </span> <span class="next-icon">

												<img src="assets/images/dev-center/next.png" alt=""></img>

										</span> </a></li>







								</ul>

							</div>

						</div>
































































































































































































































































































































































































































































































































































































































































































































































































































































					</div>

					<div class="col-md-4"
						th:if="${null!=toolGrpAssoService.getName(rownum,3,allData)}">

						<div class="dev-resources-blk wow fadeInUp">

							<div class="resources-m-title">

								<span class="res-img"> <img
									th:src="${ toolGrpAssoService.getImgsrc(rownum,3,allData)}"
									class="svgImage" alt=""></img>

								</span> <span
									th:text="${ toolGrpAssoService.getName(rownum,3,allData)}"
									class="res-m-title"> </span>

							</div>

							<div class="res-m-list">

								<ul
									th:each=" tool :${toolGrpAssoService.getTools(rownum,3,allData)}"
									class="resources-list">

									<li><a th:href="${tool.pageLink}"><span
											th:text="${tool.name}"> </span> <span class="next-icon">

												<img src="assets/images/dev-center/next.png" alt=""></img>

										</span> </a></li>





								</ul>



							</div>

						</div>

					</div>


				</div>
			</div>

		</div>




	</section>







	<section class="get-in-touch">




		<div class="container">




			<h1 class="section-title wow fadeInUp">Get In Touch With Us</h1>




			<h3 class="sub-title wow fadeInUp">We will be happy to help you
				with any test automation solution that you need specific to your
				context... Let us reach out to you!</h3>




			<form>

				<div class="row">

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="firstNameId" type="text" name="fname"
								class="form-control" placeholder="First Name" required="true"></input>
						</div>
						<div id="errorMsgfname" style="color: red;"></div>

					</div>

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="lastNameId" type="text" name="lname"
								class="form-control" placeholder="Last Name" required="true"></input>

						</div>
						<div id="errorMsglname" style="color: red;"></div>

					</div>

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="companyId" type="text" name="company"
								class="form-control" placeholder="Company" required="true"></input>

						</div>
						<div id="errorMsgCompany" style="color: red;"></div>

					</div>

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="designationId" type="text" name="title"
								class="form-control" placeholder="Designation/Title"
								required="true"></input>

						</div>
						<div id="errorMsgDesgntn" style="color: red;"></div>

					</div>

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="emailId" type="text" name="email" class="form-control"
								placeholder="Email" required="true"></input>

						</div>
						<div id="errorMsgEmail" style="color: red;"></div>

					</div>

					<div class="col-md-4">

						<div class="form-group wow fadeInUp"
							style="height: 35px !important">

							<input id="mobileId" type="text" name="phone"
								class="form-control" placeholder="Phone Number" required="true"></input>

						</div>
						<div id="errorMsgMobile" style="color: red;"></div>
					</div>

				</div>


			</form>

			<button class="btn btn-custom wow fadeInUp" onclick="sendEmail()">Send</button>



		</div>




	</section>



    <footer>

        <div class="container">

            <div class="row">

                <div class="col-sm-8">

		    <p>Copyrights @ 2019 CloudScaleQA (A unit of CodeTantra Tech Solutions Pvt. Ltd.). All Rights Reserved.</p>

                </div>

                <div class="col-sm-4 text-right">

                    <a target="_blank" href="https://www.facebook.com/Cloudscaleqa-2000091783586389/">
                        <img src='assets/images/Facebook.svg'></img>
                    </a>

                    <a target="_blank" href="https://twitter.com/CloudScaleQA">
                        <img src='assets/images/Twitter.svg'></img>
                    </a>

                    <a target="_blank" href="https://www.linkedin.com/company/cloudscaleqa/">
                        <img src='assets/images/linkedin.svg'></img>
                    </a>

                </div>

            </div>

        </div>

    </footer>

	<script src="assets/js/jquery.min.js"></script>

	<script src="assets/js/bootstrap.js"></script>

	<script src="assets/js/wow.js"></script>

	<script src="assets/js/main.js"></script>

	<script src="assets/js/jquery.fancybox.min.js"></script>

	<script src="assets/js/svgImage.js"></script>

	<script>
	$(document).ready(function(){
		   console.log("in ready===============");
		   devcenterRedirect();
		});

	
		jQuery(window).scroll(
				function() {

					if (jQuery("header nav").hasClass("affix")) {

						jQuery('.navbar-brand img').attr('src',
								'assets/images/logo-black.png');

					} else {

						jQuery('.navbar-brand img').attr('src',
								'assets/images/logo.png');

					}

				});
	</script>

</body>







</html>
